<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Records</title>
<style>

body{
font-family:Arial;
text-align:center;
}

table{
margin:auto;
width:60%;
border-collapse:collapse;
}

th{
background:black;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid gray;
}

</style>

</head>

<body>

<h2>Attendance Records</h2>

<table>

<tr>
<th>Student</th>
<th>Date</th>
<th>Status</th>
</tr>

{% for r in records %}

<tr>
<td>{{r.student.name}}</td>
<td>{{r.date}}</td>
<td>{{r.status}}</td>
</tr>

{% endfor %}

</table>

</body>

</html>