{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>Add Employee</h2>

<form method="POST">
{% csrf_token %}

Name:<br>
<input type="text" name="name"><br><br>

Email:<br>
<input type="email" name="email"><br><br>

Phone:<br>
<input type="text" name="phone"><br><br>

Department:<br>
<input type="text" name="department"><br><br>

Salary:<br>
<input type="number" name="salary"><br><br>

<button type="submit">Save</button>

</form>

</body>
</html>