<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    body{
    font-family: Arial;
}

h1{
    text-align:center;
}

img{
    margin:10px;
    border-radius:10px;
}
</style>
</head>
<body>
    <h1>{{profile_user.username}} Profile</h1>

{% for post in posts %}

<img src="{{post.image.url}}" width="250" alt="">

{% endfor %}
</form>
</body>
</html>