<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<title>Register</title>

<style>

body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:350px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

input{
    width:93%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#28a745;
    color:white;
    border:none;
}

button:hover{
    background:#1e7e34;
}

</style>

</head>

<body>

<div class="container">

<h2>Create Bank Account</h2>

<form method="post">
{% csrf_token %}

<input type="text" name="username" placeholder="Username">

<input type="email" name="email" placeholder="Email">

<input type="password" name="password" placeholder="Password">

<button type="submit">Register</button>

</form>

</div>

</body>
</html>